body {
	background: #f2f2f2;
	color: #444444;
	font-family: Helvetica, Arial;
	font-size: 16px;
	line-height: 1.8;
	margin: 0;
}

a {
	color: #4c3636;
	text-decoration: none;
}

a:hover {
	border-bottom: 0;
}
